@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loanCalcTitle {
    text-align: center;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #82ba7f;
}

#mainDiv {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.loanComponent {
    background-color: rgb(249, 199, 253);
    width: 80%;
    margin: 5px;
    padding: 10px;
    border: solid 2px rgb(255, 0, 191);
    border-radius: 20px;
}

.loanComponent .inputLabelText {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.loanComponent form {
    display: flex;
    flex-direction: column;
}

.chartTitle {
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#inputForm {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 3px;
    border: solid 2px rgb(255, 153, 247);
    background-color: rgb(253, 208, 255);
    border-radius: 10px;
    font-family: Asap, sans-serif;
}
